@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables de couleur pour le mode clair et sombre */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Styles globaux */
body {
  font-family: "Arial, sans-serif";
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #333;
}

h1,
h2,
h3 {
  color: #1a936f;
}

a {
  color: #1a936f;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

img {
  border-radius: 8px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Styles pour le conteneur de boutons et les boutons */
.button-container {
  @apply flex space-x-4 mt-4;
}

.notification-button {
  @apply py-2 px-4 rounded-lg text-white;
}

.btn-mark-read {
  @apply bg-blue-500 hover:bg-blue-600;
}

.btn-accept {
  @apply bg-green-500 hover:bg-green-600;
}

.btn-reject {
  @apply bg-red-500 hover:bg-red-600;
}
