.pContainer {
  position: absolute; /* Positionnement absolu par rapport à son parent relatif */
  /*top: 55%;  Distance du haut du parent */
  bottom: 10%;
  right: 20px; /* Distance du côté droit du parent */
  width: 50%; /* Largeur du conteneur, ajustez selon vos besoins */
  height: calc(
    85% - 40px
  ); /* Hauteur ajustée pour éviter la superposition avec le footer */
  overflow: auto; /* Permettre le défilement si le texte est trop long */
  /*z-index: -1;  S'assurer qu'il est inférieur à celui de l'en-tête */
}

.homeContainer {
  position: relative;
  min-height: 100vh; /* Utilisez 100% de la hauteur de la fenêtre */
  width: 100%; /* Utilisez 100% de la largeur de la fenêtre */
  /* background-color: #f5b9f1; ou toute autre couleur de fond de votre choix */
  padding-bottom: 50px; /* Moins d'espace nécessaire en bas pour les petits écrans */
}

.textOverlay {
  position: absolute;
  bottom: 10%; /* Ajustez selon vos besoins */
  left: 10%; /* Ajustez selon vos besoins */
  color: rgb(
    10,
    37,
    38
  ); /* Contraste avec l'arrière-plan pour une meilleure visibilité */
  background-color: rgba(
    92,
    239,
    217,
    0.267
  ); /* Optionnel: ajoute un fond semi-transparent pour améliorer la lisibilité */
  width: 80%; /* ou la largeur désirée */
  padding: 10px;
  border-radius: 15px;
  z-index: 10; /* Assurez-vous que c'est plus haut que les autres éléments*/
}
@media (max-width: 768px) {
  .textOverlay {
    width: 90%; /* Utilisez plus d'espace pour le texte */
    padding: 15px; /* Augmentez le padding pour une meilleure lisibilité */
  }
}

.buttonLink {
  /* Styliser vos liens pour ressembler à des boutons, si nécessaire */
  padding: 10px 20px;
  bottom: 1px;
  background-color: #2dd4bf; /* Exemple de couleur de fond */
  color: white; /* Couleur du texte */
  text-align: center;
  text-decoration: none; /* Enlever le soulignement */
  border-radius: 15px; /* Bordures arrondies pour un look bouton */
  /* margin-right: 2px; */
  margin-left: 8px;
  font-size: 13px; /* Taille du texte - ajustez selon vos besoins */
}
.buttonLink:hover {
  background-color: #0d9488; /* Changement de couleur au survol */
}

.footerSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: absolute;
  left: 50%;
  bottom: 8px; /* Abaisser les boutons juste au bord inférieur */
  transform: translateX(-50%);
  padding: 10px 0; /* Ajouter du padding pour un peu d'espace autour des boutons */
}

/* @media (max-width: 768px) {
  .imageContainer {
    width: 80%; /* Plus large sur les petits écrans 
    right: 10%; /* Centrer légèrement 
    top: 10px; /* Moins d'espace en haut sur les petits écrans 
    height: 80%; /* Réduire la hauteur pour éviter le chevauchement avec le footer 
  }
} */
.container {
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.carte {
  width: 800px;
  text-align: center;
  row-gap: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  background-color: #0d9488;
  /* z-index: 10; */
}
